
body {

	background: #31708E;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}
h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 100px;
    margin-top: 5%;
    text-align: center;
    color: #fff;
}

.glyphicon {
	font-size: 200px;
	margin: 40px;
}

.quiz-box
{
	text-align: center;
	background: #8FC1E3; 
}


/*.hero {
	background: #8FC1E3;
}
.button-color
{
  color: #31708E;
  background-color: #31708E;
  border-color: #31708E;
}