
body {

	background: #31708E;
	font-family: times new roman;

}
.quiz-box
{
	text-align: center;
	background: #8FC1E3; 
}


.hero {

	background: #8FC1E3;
}
.button-color
{
  color: #31708E;
  background-color: #31708E;
  border-color: #31708E;
}